body {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
#primary-search {
    display: flex;
}

#primary-search .search-side {
    width: 50%;
}

#primary-search .search-side input {
    margin: 1em auto;
}

.suggestions {
    overflow-y: scroll;
    height: 400px;
}

.suggestions .list-item {
    display: flex;
    height: 5em;
    cursor: pointer;
}

.suggestions .list-item .title{
    size: 1em;
    text-align: left;
    margin: auto 0;
    line-clamp: 3;
}

.suggestions .list-item img{
    height: 4em;
    aspect-ratio: 2 / 3;
    margin: auto 1em;
}