/* Center content if on larger screen */
@media (min-width: 800px){
    body{
        width: 50%
    }
}

body {
    text-align: center;
    margin: 0 auto;
}

#primary-search {
    display: flex;
}

#primary-search .search-side {
    width: 50%;
}

#primary-search .search-side .cover img{
    aspect-ratio: 2 / 3;
    max-height: 10em;
    max-width: 90%;
    margin: auto 0;
}

#primary-search .search-side input {
    margin: 1em auto;
    width: 50%;
}

.suggestions {
    overflow-y: scroll;
    height: 20em;
    display: none;
}

.suggestions .list-item {
    display: flex;
    height: 5em;
    margin: 0.25em;
    padding: 0.5em;
    cursor: pointer;
    outline: 1px solid #000A;
}

.suggestions .list-item .title{
    font-size: 1em;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
}

.suggestions .list-item img{
    aspect-ratio: 2 / 3;
    margin: 0 1em 0 0;
}

.suggestions .notice{
    text-align: center;
}